*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    overflow: hidden;
}

.container .dxball{
    position: absolute;
    top: 50%;
    color: #fff;
    padding: 5px 20px;
}

.container .dxball .dx-text{
    color: #ff2c53;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-shadow: 2px 5px 10px #3d0c08;
}

.container .text{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}

.container .bar{
    width: 100%;
    min-width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .bar .lineBar{
    padding: 2px;
    width: 40%;
    min-width: 200px;
    height: 20px;
    border: 2px solid #086e91;
    border-radius: 29px;
}

.container .bar .lineBar .line{
    height: 12px;
    border-radius: 20px;
    background: #29c9ff;
    width: 0%;
}



